= button_to "subscribe", polymorphic_path(resource, action: 'subscribe'), method: :patch, remote: true, data: {type: :json}
p#vote-rating
  =resource.rating
= button_to "unsubscribe",  polymorphic_path(resource, action: 'unsubscribe'), method: :patch, remote: true, data: {type: :json}